<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>647163052007-cne5ii823vt5eivnuslsvg8fh7sau1u3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647163052007-cne5ii823vt5eivnuslsvg8fh7sau1u3</string>
	<key>API_KEY</key>
	<string>AIzaSyD6FYAQmn2Ma4pb6hw3-wrmMFhfYkzeebM</string>
	<key>GCM_SENDER_ID</key>
	<string>647163052007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Melody-Yang.SimpleWear</string>
	<key>PROJECT_ID</key>
	<string>wepick-2315f</string>
	<key>STORAGE_BUCKET</key>
	<string>wepick-2315f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:647163052007:ios:67895c4f4c74ce0a</string>
	<key>DATABASE_URL</key>
	<string>https://wepick-2315f.firebaseio.com</string>
</dict>
</plist>
